@charset "UTF-8";



:root{
    --marrom: #6B3F26;
    --rosa: #FFC6D9;
    --verde: #C3F2D0;
    --creme: #FDF4C9;
    --laranja: #FFCB85;
}



@media (min-width: 769px) and (max-width: 1024px){

    /*header*/
    .header{
        margin: 0 2vw;
    }

    /*Pag1*/
    .div-pag1{
        width: 100%;
    }

    .text-pag1 {
        gap: 3vh;
        margin: auto; 
    }

    .pag1 h1 {
        font-size: 9rem;
        width: 100%; 
    }

    .pag1 p {
        width: 100%;
        font-size: 2.3rem;
    }




    /*Pag2*/

    .text-pag2{
        width: 100%;
        background-color: var(--creme);
    }

    .text-geral h1 {
        font-size: 6vw;
    }

    .imagem2{
        display: none;
    }






    /*Pag3*/
    .pag3{
        height: 60%;
    }

    .text-pag3{
        padding: 20px 55px;
    }




    /*pag4*/
    .pag4{
        height: 50vh;
    }

    .text-pag4{
        padding: 20px 55px;
    }

    .text-geral h3 {
        font-size: 2.5rem;
    }

    .text-pag4 p{
        font-size: 1.7rem;
    }

    .Informacoes {
        gap: 2vh;
    }


    /*Depoimentos*/

    .Depoimentos{
        height: auto;
        margin-bottom: 15vh;
        
    }

    .Depoimentos h1 {
        font-size: 6vw;
    }

    .deps{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5vh;
        justify-content: center;  
    }

     
    .dep{
        width: 40%;
        height: 60%;
    }

    .dep-text h3{
        font-size: 2.2rem;
    }

    .dep-text p{
        font-size: 2.2rem;
    }
    


    /*footer*/
    .footer h2 {
        font-size: 4vw;
    }

    .redessociais {
        font-size: 6vw;
    }

    .leon-icons{
        font-size: 7vw;
    }


}

@media (max-width: 768px){

    .nav-bar{
        padding: 1.5rem 4rem;
        justify-content: space-between;
    }

    .nav-itens{
        display: none;
    }
    
    .login-button{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: end;
        padding: 0 2rem 1rem 2rem;
    }

    .mobile-menu .nav-itens{
        display: block;
        padding-top: 1.2rem;
        border-bottom: 2px solid rgba(107, 63, 38, 0.1);
    }

    .open {
        display: block;
        height: 100vh;
    }

    .mobile-menu .open{
        display: block;
        height: 100vh;
    }
}