@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/*
    cores do site:

    #6B3F26 marrom
    #FFC6D9 rosa
    #C3F2D0 verde pastel
    #FDF4C9 creme
    #FFCB85 laranja pastel

*/

:root{
    --marrom: #6B3F26;
    --rosa: #FFC6D9;
    --verde: #C3F2D0;
    --creme: #FDF4C9;
    --laranja: #FFCB85;

    --font: 'Patrick Hand', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 62.5%;
}

body{
    background-color: gray;
}

header{
    height: 6vh;
    padding-top: .6vh;
    background-color: white;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10vw;
}

.header h1, .header h1>span{
    font-family: var(--font);
    font-size: 4rem;
    color: #6B3F26;
    margin-top: -.6vh;
}

.header h1>span{
    color: rgb(0, 191, 229);
}

.header nav > ul{
    display: flex;
    gap: 50px;
    font-family: cursive;
    font-size: 4.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.header li{
    color: #6B3F26;
    transition: .5s all;
}


.header li:hover{
    color: rgb(0, 191, 229);
}



/* Pag1 */

.pag1{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/sorvetes/pag1.jpg);
    background-position: center;
    background-size: cover;
    height: 74vh;
    color: white;
}

.div-pag1{
    width: 50%;
    height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0 0 0 5%;
}


.pag1 h1{
    font-size: 5vw;
    color: var(--rosa);
}

.pag1 p{
    font-size: 2.2rem;
    width: 60%;
    text-align: justify;
    font-family: cursive; 
}



.div-pag1 a{
    color: var(--marrom);
    font-weight: bold;
    text-transform: uppercase;
    width: 190px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    background-color: var(--rosa);
    padding: 15px 20px;
    transition: .2s all;
}

.div-pag1 a:hover{
    zoom: 1.01;
    background-color: #f7aec6;
}
    